.m-shadowboxSubmitButton {
  //min-width: 220px;
  position: relative;
  cursor: pointer;
  padding: 10px 20px;

  min-height: 42px;
  border: 0;
  transition: all 0.2s ease;
  border-radius: 26px;
  outline: 0;
  &.green {
    @include m-theme() {
      background-color: themed($m-aqua);
      color: themed($m-white-always);
    }
    .m-shadowboxSubmitButton__status--saving {
      span {
        @include m-theme() {
          background-color: themed($m-white);
        }
      }
    }
  }
  &.red {
    @include m-theme() {
      background-color: themed($m-alert);
      color: themed($m-white);
    }
    .m-shadowboxSubmitButton__status--saving {
      span {
        @include m-theme() {
          background-color: themed($m-white);
        }
      }
    }
  }
  &.grey {
    @include m-theme() {
      background-color: themed($m-grey-100);
      color: themed($m-textColor--secondary);
    }
    .m-shadowboxSubmitButton__status--saving {
      text-align: center;
      span {
        @include m-theme() {
          background-color: themed($m-white-always);
        }
      }
    }
  }
  &:hover {
    &:not(:disabled) {
      transform: scale(1.02);

      @include m-theme() {
        box-shadow: 0 3px 3px -2px rgba(themed($m-black), 0.2),
          0 2px 5px 0 rgba(themed($m-black), 0.14),
          0 1px 7px 0 rgba(themed($m-black), 0.12);
      }
      &.green {
        @include m-theme() {
          background-color: rgba(themed($m-aqua), 0.9);
        }
      }
      &.red {
        @include m-theme() {
          background-color: rgba(themed($m-alert), 0.9);
        }
      }
      &.grey {
        @include m-theme() {
          background-color: rgba(themed($m-grey-50), 0.7);
        }
      }
    }
  }
  &:active {
    &:not(:disabled) {
      transform: scale(0.999);
      @include m-theme() {
        box-shadow: 0 3px 2px -2px rgba(themed($m-black), 0.2),
          0 2px 3px 0 rgba(themed($m-black), 0.14),
          0 1px 5px 0 rgba(themed($m-black), 0.12);
      }
      &.green {
        @include m-theme() {
          background-color: themed($m-aqua);
        }
      }
      &.red {
        @include m-theme() {
          background-color: themed($m-red-dark);
        }
      }
      &.grey {
        @include m-theme() {
          background-color: themed($m-grey-100);
        }
      }
    }
  }
  &:disabled,
  &[disabled] {
    cursor: default;
    &:not(.saving) {
      opacity: 0.6;
    }
  }
}
button {
  outline: 0;
}
[class*='m-shadowboxSubmitButton__status'] {
  font-size: 17px;
  font-weight: 300;
}

@keyframes blink {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
    transform: scale(1.02);
  }
  100% {
    opacity: 0.2;
    transform: scale(0.95);
  }
}

.m-shadowboxSubmitButton__status--saving {
  span {
    display: inline-block;
    height: 8px;
    width: 8px;
    margin: 0 6px;
    border-radius: 50%;
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    &:nth-child(2) {
      animation-delay: 0.2s;
    }
    &:nth-child(3) {
      animation-delay: 0.4s;
    }
  }
}
.m-shadowboxSubmitButton__status--unsaved {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  vertical-align: middle;
}

@media screen and (max-width: $max-mobile) {
  m-shadowboxSubmitButton {
    min-width: 50%;
  }
}
