@import 'defaults';

m-newsfeed {
  grid-area: content / span 2;
  min-width: 0;
}

.m-newsfeed-footer {
  .m-footer-nav {
    justify-content: flex-start;
  }

  .copyright {
    text-transform: uppercase;
    font-size: 11px;
    padding: 0 8px;
    font-weight: 600;
  }
}

.m-grid .m-newsfeed.mdl-grid {
  margin: unset;
}
.m-newsfeed {
  max-width: 1280px;
  flex-wrap: nowrap;
  padding-top: 0;

  @media screen and (max-width: 480px) {
    padding: 0;
  }

  .mdl-cell {
    margin-top: 0;
  }

  .m-newsfeed--logged-out {
    margin: 0 auto;
  }

  .m-newsfeedSidebar__header {
    margin: 0;
    font-size: 13px;
    font-weight: 600;
    padding: 0 8px;
    @include m-theme() {
      color: themed($m-grey-800);
    }
  }

  &.m-newsfeed--2019 {
    .m-newsfeed--sidebar,
    .m-newsfeed--boost-sidebar {
      max-width: 270px;

      m-ads-boost {
        minds-card {
          minds-card-group.mdl-card {
            .m-groups-card-stats {
              width: 154px;
            }
          }

          .m-btn--with-icon {
            padding: 8px 12px;

            i {
              display: none;
            }
          }
        }
      }
    }

    .m-newsfeed--feed {
      max-width: 680px;
      min-width: 0; // Avoid flex issues
    }

    @media screen and (min-width: 1200px) and (max-width: 1280px) {
      //max-width:1120px; //1200 - 80 (sidebar)
      .m-newsfeed--sidebar,
      .m-newsfeed--boost-sidebar {
        //max-width: 265px;
      }
      .m-newsfeed--feed {
        // margin: 8px 16px;
        //max-width: 525px;
      }
    }

    @media screen and (max-width: 1100px) {
      & {
        max-width: 900px;
      }
      .m-newsfeed--feed {
        max-width: initial;
      }
    }

    @media screen and (max-width: 850px) {
      .m-newsfeed--sidebar,
      .m-newsfeed--boost-sidebar {
        display: none;
      }
    }
  }
}

.minds-newsfeed-sidebar-button {
  //padding-bottom: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;

  .m-buypoints-tag {
    font-size: 11px;
    font-weight: 600;
    padding-left: 8px;
  }

  > i {
    &.material-icons {
      vertical-align: middle;
      position: relative;
      //top: -0.1em;
      margin-right: 0.2em;
    }

    &.m-newsfeed-sidebar-button--close {
      float: right;
    }
  }
}

.m-newsfeed-boost-promo {
  padding: 12px 16px;
  font-weight: bold;
  //text-transform: uppercase;
  i {
    vertical-align: middle;
    padding-right: 12px;
  }
}

.m-invite-link {
  cursor: pointer;
}

.m-newsfeed--boost-header {
  padding: 16px;
  margin-bottom: 16px;
  border-radius: 3px;
  @include m-theme() {
    color: themed($m-blue);
    border: 1px solid themed($m-blue);
  }

  span {
    vertical-align: middle;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    font-family: 'Roboto', Helvetica, Sans-serif;
    cursor: default;
  }

  m-tooltip {
    vertical-align: middle;
    margin-left: 8px;

    i {
      font-size: 16px;
    }
  }
}

.m-newsfeed-message {
  display: block;
  padding: 12px 16px;
  margin-bottom: $minds-padding;
  text-align: center;
  cursor: pointer;
  text-decoration: inherit;

  i {
    vertical-align: middle;
    padding-right: 12px;
  }
}

.mdl-card.m-newsfeed__CompactHashtagSelector {
  background-color: transparent !important;
  overflow: visible;
}

.m-newsfeed__sidebar .minds-usercard-block .avatar img {
  object-fit: cover;
}

.m-theme__2020 .m-newsfeed {
  [class*='m-pageLayout__pane'] {
    padding: 20px 40px;
    @media screen and (max-width: $max-mobile) {
      padding: 20px 0;
    }
  }
  .m-pageLayout__pane--main {
    // padding: 40px;
  }
  .m-pageLayout__pane--right {
    padding-right: 0;
  }
  .m-newsfeed__sidebar {
    max-width: initial;
  }

  m-activity {
    margin-bottom: 20px;
  }
}
