<ng-container *ngIf="!inProgress && dashboard">
  <m-timespanFilter
    [timespans]="dashboard.timespans"
    [activeTimespanId]="activeTimespan.id"
    (timespanChanged)="updateTimespan($event)"
  ></m-timespanFilter>
  <m-chartV2
    *ngIf="activeTimespan && activeMetric"
    [interval]="activeTimespan.interval"
    [unit]="activeMetric?.unit"
    [label]="activeMetric?.label"
    [segments]="activeMetric.visualisation.segments"
  ></m-chartV2>
</ng-container>
<div *ngIf="inProgress || !dashboard" class="m-wallet__spinner">
  <div class="mdl-spinner mdl-js-spinner is-active" [mdl]></div>
</div>
