<div class="m-sidebarWidget">
  <h2 class="m-sidebarWidget__title">{{ title }}</h2>

  <ng-content selector=".m-sidebarWidget__body"></ng-content>

  <ng-content selector=".m-sidebarWidget__seeMore"></ng-content>
</div>
