m-newsfeed--boost-rotator {
  display: contents;
}

.m-boost-rotator-item {
  transition: opacity 0.5s ease;
  opacity: 1;

  &[hidden] {
    transition: opacity 1s ease-out;
    opacity: 0;
    //display: block !important;
    visibility: hidden;
    height: 0;
    overflow: hidden;
    padding: 0;
    margin: 0;
  }
}

.m-boost-rotator-tools-tool {
  font-size: 32px;
  cursor: pointer;

  i {
    font-size: 18px;
  }

  .minds-dropdown-menu .mdl-menu__item {
    display: flex;
    align-items: center;
    overflow: visible;

    .m-dropdown--spacer {
      flex: 1;
    }
    > label.mdl-switch {
      width: 36px;
    }
    .m-tooltip i {
      font-size: 16px;
      margin: 0 8px;
      @include m-theme() {
        color: themed($m-grey-400);
      }
    }
  }
}

.m-boost-rotator-tools {
  display: flex;
  flex-direction: row;
  align-items: center;

  .m-boost-rotator-tools-tool {
    position: relative;
    padding: 8px;
    margin-top: -14px;

    .minds-dropdown-menu {
      width: 170px;
    }

    & button:not(.minds-more) i {
      font-size: 16px;
    }
  }
}

.m-boost-navigation {
  margin: 0;
  margin-top: -14px;
  padding: 0;
  list-style: none;
  display: flex;
  flex: 1;

  li {
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1.5px;
    font-family: 'Roboto', Helvetica, sans-serif;
    padding: 0 8px;
    font-weight: 400;
    cursor: pointer;
    @include m-theme() {
      color: themed($m-grey-500);
    }

    span,
    m-tooltip {
      vertical-align: middle;
    }
    m-tooltip i {
      font-size: 11px;
      @include m-theme() {
        color: themed($m-grey-400);
      }
    }
  }
}

.m-boost-rotator-tabs {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  z-index: 1;

  .m-boostRotator__tab--boost-feed a {
    text-transform: uppercase;
    letter-spacing: 1.25px;
    font-size: 11px;
    line-height: 24px;
    margin-top: -5px;
    margin-right: 8px;
    display: block;
    cursor: pointer;

    @include m-theme() {
      color: themed($m-grey-400);
    }
  }

  .m-boost-rotator-tabs-tab {
    margin: 0 2px;
    padding: 0;
    list-style: none;
    flex: 1;
    height: 10px;
    //border-right:1px solid themed($m-blue-grey-200);
    cursor: pointer;
  }

  li > i {
    margin-top: -10px;
    cursor: pointer;
  }
  .m-boost-rotator-paused {
    margin-top: -8px !important;
    margin-right: 16px !important;
    &.paused {
      animation: pulse 2s linear infinite;
    }
    button i {
      @include m-theme() {
        color: themed($m-blue-grey-500);
      }
    }
  }
  m-topbar--navigation--options {
    padding-right: 8px;
    padding-left: 8px;
    margin-top: -4px;
  }
}

.m-boost-rating-menu {
  .mdl-menu__item {
    text-overflow: initial !important;
  }
  .selected {
    @include m-theme() {
      color: themed($m-blue-grey-500) !important;
    }
  }
}

@keyframes pulse {
  0% {
    -webkit-filter: blur(0px);
  }

  50% {
    -webkit-filter: blur(1px);
  }

  100% {
    -webkit-filter: blur(0px);
  }
}

@keyframes boostProgressBar {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.m-boost-rotator-progress {
  display: block;
  width: 100%;
  height: 10px;
  .m-boost-rotator-progress-inner {
    display: block;
    height: 100%;
    animation-name: boostProgressBar;
    animation-duration: 1s;
  }
}

.m-boost--disable {
  margin-top: -14px;
  padding: 8px;
  cursor: pointer;
}

.m-newsfeed__boostRotator {
  width: 100%;
  margin-bottom: 20px; // Make 20px constant
}
