m-walletSettings--tokens {
  .m-wallet__spinner.m-wallet__spinner--tokenSettings {
    margin-top: 40px;
  }
  .m-walletSettings {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    .m-walletSettings__recommendation {
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-end;
      font-size: 12px;
      line-height: 16px;
      margin: 31px 0 0 0;
      @include m-theme() {
        color: themed($m-textColor--tertiary);
      }
      i {
        font-size: 18px;
        margin-right: 8px;
      }
    }
    .m-walletSettings__tokenSetupOptionsContainer {
      display: flex;
      flex-flow: row wrap;

      li {
        box-sizing: border-box;
        flex: 1 1 50%;
        padding: 16px 0 16px 54px;
        @media screen and (max-width: 520px) {
          flex-basis: 100%;
        }
      }
      p {
        line-height: 19px;
        @include m-theme() {
          color: themed($m-textColor--primary);
        }
      }
      .m-walletSettings__tokenSetupOption--metamask {
        padding-right: 32px;
        padding-left: 0;
        border-width: 0;
        border-right-width: 1px;
        border-style: solid;
        @include m-theme() {
          border-image: linear-gradient(
              transparent,
              rgba(themed($m-grey-200), 0.6),
              transparent
            )
            10 100%;
        }
        a {
          font-weight: 300;
        }
        div {
          display: flex;
          flex-flow: row nowrap;
          align-items: center;
          img {
            height: 34px;
            margin-right: 12px;
          }
        }
        @media screen and (max-width: 520px) {
          padding: 16px 0 32px 0;
          border-right-width: 0;
        }
      }
      .m-walletSettings__tokenSetupOption--custom {
        div {
          margin-top: 16px;
          display: inline-block;
          a,
          span {
            display: inline-block;
            margin-right: 5px;
            font-weight: 300;
          }
          span {
            @include m-theme() {
              color: themed($m-textColor--tertiary);
            }
          }
        }
        @media screen and (max-width: $min-tablet) {
          padding-left: 32px;
        }
        @media screen and (max-width: 520px) {
          padding: 32px 0 0 0;
        }
      }
    }
    span.m-walletSettings__createdAddress {
      @include m-theme() {
        color: themed($m-textColor--primary);
      }
    }
  }
}
