<ng-container *mIfFeature="'activity-composer'; else v1NewsfeedPoster">
  <m-composer
    *ngIf="isMember()"
    (onPost)="prepend($event)"
    [containerGuid]="group.guid"
    #composer
  ></m-composer>
</ng-container>
<ng-template #v1NewsfeedPoster>
  <minds-newsfeed-poster
    *ngIf="isMember()"
    (load)="prepend($event)"
    [containerGuid]="group.guid"
    #poster
  ></minds-newsfeed-poster>
</ng-template>

<div class="minds-list">
  <div>
    <div class="m-mindsList__tools m-border">
      <div
        *ngIf="isMember()"
        class="m-mindsListTools__scheduled"
        (click)="toggleScheduled()"
        [class.selected]="viewScheduled"
      >
        <m-tooltip icon="date_range"> See Scheduled Activities </m-tooltip>
        <span>scheduled: {{ scheduledCount }}</span>
      </div>
      <m-sort-selector
        class="m-group--sorted__SortSelector"
        [allowedAlgorithms]="false"
        [allowedPeriods]="false"
        [allowedCustomTypes]="['activities', 'images', 'videos']"
        [customType]="type"
        (onChange)="setFilter($event.customType)"
      ></m-sort-selector>
    </div>
    <ng-container
      *ngIf="
        isActivityFeed() &&
        (group['is:owner'] || group['is:moderator']) &&
        group['adminqueue:count']
      "
    >
      <a
        class="mdl-shadow--4dp mdl-color--blue-grey-50 mdl-color-text--blue-grey-500 m-newsfeed-message"
        routerLink="review"
      >
        <i class="material-icons">rate_review</i>
        {{ group['adminqueue:count'] }} new
        {{ group['adminqueue:count'] === 1 ? 'post' : 'posts' }} in review queue
      </a>
    </ng-container>

    <ng-container *mIfFeature="'navigation'; else legacyActivity">
      <ng-container
        *ngFor="let entity$ of feedsService.feed | async; let i = index"
      >
        <m-activity
          *ngIf="entity$ | async as entity"
          [entity]="entity"
          [displayOptions]="{
            showOnlyCommentsInput: true
          }"
          [allowAutoplayOnScroll]="true"
        ></m-activity>
      </ng-container>
    </ng-container>
    <ng-template #legacyActivity>
      <ng-container
        *ngIf="['images', 'videos'].indexOf(type) > -1; else entityListView"
      >
        <m-newsfeed__tiles
          [entities]="feedsService.feed | async"
        ></m-newsfeed__tiles>
      </ng-container>
      <ng-template #entityListView>
        <ng-container
          *ngFor="let entity of feedsService.feed | async; let i = index"
        >
          <minds-activity
            *ngIf="entity | async"
            class="mdl-card item"
            [object]="entity | async"
            [canDelete]="group['is:owner'] || group['is:moderator']"
            (deleted)="delete($event)"
            [slot]="i + 1"
            [attr.data-minds-activity-guid]="entity.guid"
            [disableBoosting]="group['membership'] === 0"
            [disableReminding]="group['membership'] === 0"
            [allowAutoplayOnScroll]="true"
          >
            <!-- Menu Actions -->

            <li
              post-menu
              class="mdl-menu__item"
              *ngIf="group['is:owner'] && (entity | async)"
              (click)="kick(entity?.ownerObj)"
              i18n="@@GROUPS__PROFILE__FEED__REMOVE_USER"
            >
              Remove user
            </li>
          </minds-activity>
        </ng-container>
      </ng-template>
    </ng-template>

    <infinite-scroll
      distance="25%"
      (load)="loadMore()"
      [moreData]="feedsService.hasMore | async"
      [inProgress]="feedsService.inProgress | async"
    ></infinite-scroll>
  </div>
</div>

<m-groups__kick-modal
  *ngIf="kicking"
  [user]="kicking"
  [group]="group"
  (closed)="kick(null)"
></m-groups__kick-modal>
