<div
  *ngIf="(attachmentPreview$ | async) || (richEmbedPreview$ | async)"
  class="m-composer__preview"
  [class.m-composer__preview--portrait]="
    (attachmentPreview$ | async) && portrait
  "
>
  <m-composerAttachmentPreview
    *ngIf="attachmentPreview$ | async as attachmentPreview"
    [attachmentPreviewResource]="attachmentPreview"
    (onPortraitOrientation)="setPortrait($event)"
  >
    <div
      class="m-composerPreview__close"
      [hidden]="isPosting$ | async"
      (click)="remove()"
    >
      <m-icon iconId="close"></m-icon>
    </div>
  </m-composerAttachmentPreview>

  <m-composerRichEmbedPreview
    [hidden]="attachmentPreview$ | async"
    *ngIf="richEmbedPreview$ | async as richEmbed"
    [richEmbed]="richEmbed"
  ></m-composerRichEmbedPreview>
</div>
