<div class="m-tabs__container">
  <div class="m-tabs__tab">
    <a
      routerLink="./"
      routerLinkActive="m-tabs__tab--selected"
      data-cy="discovery-tab-link-overview"
      >Just for you</a
    >
  </div>
  <div class="m-tabs__tab">
    <a
      routerLink="../tags"
      routerLinkActive="m-tabs__tab--selected"
      data-cy="discovery-tab-link-tags"
      >Discover by tags</a
    >
  </div>
</div>

<ul class="m-discovery__trends">
  <m-loadingSpinner [inProgress]="inProgress$ | async"> </m-loadingSpinner>

  <li
    class="m-discoveryTrends__trend m-discoveryTrends__trend--hero"
    *ngIf="hero$ | async"
  >
    <m-discoveryTrends__listItem
      [trend]="hero$ | async"
    ></m-discoveryTrends__listItem>
  </li>

  <li *ngFor="let trend of trends$ | async" class="m-discoveryTrends__trend">
    <m-discoveryTrends__listItem [trend]="trend"></m-discoveryTrends__listItem>
  </li>
</ul>
