<div class="m-composer__popup" [hidden]="!open">
  <div class="m-composerPopup__close" (click)="dismiss()">
    <m-icon iconId="close"></m-icon>
  </div>

  <ng-template dynamic-host></ng-template>
</div>
