<div
  class="m-discovery__feedItem"
  [class.m-discovery__feedItem--user]="entity.type === 'user'"
  [class.m-discovery__feedItem--group]="entity.type === 'group'"
>
  <ng-container [ngSwitch]="entity.type">
    <ng-template ngSwitchCase="user">
      <a [routerLink]="['/', entity.username]">
        <div
          class="m-discoveryFeedItem__avatar"
          [style.background-image]="
            'url(' + cdnUrl + '/icon/' + entity.guid + ')'
          "
        ></div>
        <div class="m-discoveryFeedItem__body">
          <h4>{{ entity.name }} (<u>@</u>{{ entity.username }})</h4>
          <span>{{ entity.subscribers_count | number }} subscribers</span>
          <p>
            {{
              entity.briefdescription.length > 140
                ? (entity.briefdescription | slice: 0:140) + '..'
                : entity.briefdescription
            }}
          </p>
        </div>
        <div class="m-discoveryFeedItem__actions">
          <minds-button-subscribe [user]="entity"></minds-button-subscribe>
        </div>
      </a>
    </ng-template>
    <ng-template ngSwitchCase="group">
      <a [routerLink]="['/groups/profile/', entity.guid]">
        <div
          class="m-discoveryFeedItem__avatar"
          [style.background-image]="
            'url(' +
            cdnUrl +
            'fs/v1/avatars/' +
            entity.guid +
            '/' +
            entity.icontime +
            ')'
          "
        ></div>
        <div class="m-discoveryFeedItem__body">
          <h4>{{ entity.name }}</h4>
          <span>{{ entity['members:count'] | number }} members</span>
          <p *ngIf="entity.briefdescription">
            {{
              entity.briefdescription.length > 140
                ? (entity.briefdescription | slice: 0:140) + '..'
                : entity.briefdescription
            }}
          </p>
        </div>
        <div class="m-discoveryFeedItem__actions">
          <i class="material-icons">chevron_right</i>
        </div>
      </a>
    </ng-template>
    <ng-template ngSwitchDefault>
      <m-activity
        [entity]="entity"
        [displayOptions]="{ showOnlyCommentsInput: !openComments }"
      ></m-activity>
    </ng-template>
  </ng-container>
</div>
