<div class="m-tabs__container">
  <div class="m-tabs__tab">
    <a routerLink="../preferred" routerLinkActive="m-tabs__tab--selected"
      >Your Feed</a
    >
  </div>
  <div class="m-tabs__tab">
    <a routerLink="../trending" routerLinkActive="m-tabs__tab--selected"
      >Trending Feed</a
    >
  </div>
  <div class="m-layout__spacer"></div>
  <m-discoveryFeeds__settingsButton></m-discoveryFeeds__settingsButton>
</div>

<div class="m-goBack">
  <a routerLink="/discovery" [queryParams]="{ reload: false }">
    <i class="material-icons">arrow_back</i><span>Back</span>
  </a>
</div>

<div class="m-discoveryFeeds__feed">
  <m-discovery__feedItem
    *ngFor="let entity$ of entities$ | async"
    [entity]="entity$ | async"
    [openComments]="false"
  ></m-discovery__feedItem>

  <infinite-scroll
    distance="25%"
    (load)="loadMore()"
    [moreData]="hasMoreData$ | async"
    [inProgress]="inProgress$ | async"
  >
  </infinite-scroll>
</div>
