<div class="mdl-textfield mdl-js-textfield" [mdl]>
  <i class="material-icons m-searchBar__searchIcon" (click)="setFocus()"
    >search</i
  >

  <!--<span class="m-search-bar--context" *ngIf="hasSearchContext"
    (click)="setFocus()"
    i18n="@@SEARCH_CONTEXT_COLON"
  >
    Search {{ searchContext | async }}:
  </span>-->

  <input
    [(ngModel)]="q"
    (focus)="focus()"
    (blur)="blur()"
    name="q"
    class="mdl-textfield__input"
    type="text"
    id="search"
    autocomplete="off"
    placeholder="Search Minds"
    #searchInput
  />
  <label class="mdl-textfield__label" for="search"></label>
  <i
    class="material-icons m-searchBar__cleanIcon"
    (click)="clean()"
    *ngIf="showCleanIcon && q"
  >
    close
  </i>

  <m-search--bar-suggestions
    (click)="unsetFocus()"
    [q]="q"
    [active]="active"
    [disabled]="suggestionsDisabled"
  ></m-search--bar-suggestions>
</div>
