<div class="m-mediaModal__wrapper" data-cy="data-minds-media-modal">
  <div class="m-mediaModal__theater" (click)="clickedModal($event)">
    <div
      class="m-mediaModal m-mediaModal__clearFix"
      [style.width]="modalWidth + 'px'"
      [style.height]="stageHeight + 'px'"
    >
      <!-- STACKABLE MODAL -->
      <m-stackableModal [settings]="stackableModalSettings"></m-stackableModal>
      <!-- STAGE WRAPPER (this is the element that goes into fullscreen) -->
      <div
        class="m-mediaModal__stageWrapper"
        [style.width]="stageWidth + 'px'"
        [style.line-height]="stageHeight + 'px'"
        (mouseenter)="onMouseEnterStage()"
        (mouseleave)="onMouseLeaveStage()"
        (touchend)="showOverlaysOnTablet()"
      >
        <!-- LOADING PANEL -->
        <div
          class="m-mediaModal__loadingPanel"
          *ngIf="isLoading && contentType !== 'rich-embed'"
        >
          <div class="mdl-spinner mdl-js-spinner is-active" [mdl]></div>
        </div>

        <!-- MEDIA STAGE -->
        <div class="m-mediaModal__stage">
          <!-- MEDIA: IMAGE -->
          <div
            class="m-mediaModal__mediaWrapper"
            *ngIf="contentType === 'image'"
            [style.width]="mediaWidth + 'px'"
            [style.height]="mediaHeight + 'px'"
            [@slowFade]="isLoading ? 'out' : 'in'"
            [ngClass]="{
              'm-mature-content': attachment.shouldBeBlurred(entity),
              'm-mature-content-shown': attachment.isForcefullyShown(entity)
            }"
          >
            <div
              class="m-mature-overlay"
              (click)="toggleMatureVisibility()"
              [style.width]="mediaWidth + 'px'"
              [style.height]="mediaHeight + 'px'"
            >
              <span
                class="m-mature-overlay-note"
                [style.height]="mediaHeight + 'px'"
              >
                <i
                  class="material-icons"
                  title="Mature content"
                  i18n-title="@@M__COMMON__MATURE_CONTENT"
                  >explicit</i
                >
                <span i18n="@@M__COMMON__CONFIRM_18"
                  >Click to confirm you are 18+</span
                >
              </span>
            </div>
            <img
              class="m-mediaModal__media--image"
              [src]="thumbnail"
              (load)="isLoaded()"
              [style.width]="entityWidth + 'px'"
              [style.height]="entityHeight + 'px'"
            />
          </div>

          <!-- MEDIA: VIDEO -->
          <div
            class="m-mediaModal__mediaWrapper"
            *ngIf="contentType === 'video'"
            [style.width]="mediaWidth + 'px'"
            [style.height]="mediaHeight + 'px'"
            [ngClass]="{
              'm-mature-content': attachment.shouldBeBlurred(entity),
              'm-mature-content-shown': attachment.isForcefullyShown(entity)
            }"
          >
            <div
              class="m-mature-overlay"
              (click)="toggleMatureVisibility()"
              *ngIf="canToggleMatureVideoOverlay"
              [style.width]="mediaWidth + 'px'"
              [style.height]="mediaHeight + 'px'"
            >
              <span
                class="m-mature-overlay-note"
                [style.height]="mediaHeight + 'px'"
              >
                <i
                  class="material-icons"
                  title="Mature content"
                  i18n-title="@@M__COMMON__MATURE_CONTENT"
                  >explicit</i
                >
                <span i18n="@@M__COMMON__CONFIRM_18"
                  >Click to confirm you are 18+</span
                >
              </span>
            </div>
            <m-videoPlayer
              [guid]="entity.guid"
              shouldPlayInModal="false"
              isModal="true"
              autoplay="true"
              (fullScreenChange)="onFullscreenChange($event)"
              (dimensions)="onDimensions($event)"
            ></m-videoPlayer>
          </div>

          <!-- MEDIA: RICH-EMBED -->
          <div
            class="m-mediaModal__mediaWrapper m-mediaModal__mediaWrapper--richEmbed"
            *ngIf="contentType === 'rich-embed'"
            [ngClass]="{
              'm-mature-content': attachment.shouldBeBlurred(entity),
              'm-mature-content-shown': attachment.isForcefullyShown(entity)
            }"
          >
            <div
              class="m-mature-overlay"
              (click)="toggleMatureVisibility()"
              *ngIf="canToggleMatureVideoOverlay"
              [style.width]="mediaWidth + 'px'"
              [style.height]="mediaHeight + 'px'"
            >
              <span
                class="m-mature-overlay-note"
                [style.height]="mediaHeight + 'px'"
              >
                <i
                  class="material-icons"
                  title="Mature content"
                  i18n-title="@@M__COMMON__MATURE_CONTENT"
                  >explicit</i
                >
                <span i18n="@@M__COMMON__CONFIRM_18"
                  >Click to confirm you are 18+</span
                >
              </span>
            </div>
            <minds-rich-embed
              [src]="entity"
              [maxheight]="480"
              [embeddedInline]="true"
            >
            </minds-rich-embed>
          </div>

          <!-- MEDIA: BLOG -->
          <div
            class="m-mediaModal__mediaWrapper m-mediaModal__mediaWrapper--blog"
            *ngIf="contentType === 'blog'"
            [style.width]="mediaWidth + 'px'"
            [style.height]="mediaHeight + 'px'"
            [@slowFade]="isLoading ? 'out' : 'in'"
          >
            <m-blog-view
              [blog]="entity"
              [showActions]="false"
              [showComments]="false"
            ></m-blog-view>
          </div>

          <!-- OVERLAY -->
          <div
            class="m-mediaModal__overlayContainer"
            *ngIf="
              overlayVisible &&
              contentType !== 'rich-embed' &&
              !attachment.shouldBeBlurred(entity)
            "
            @fastFade
          >
            <div
              class="m-mediaModal__overlayTitleWrapper"
              *ngIf="contentType !== 'blog'"
            >
              <!-- TITLE -->
              <span
                class="m-mediaModal__overlayTitle m-mediaModal__overlayTitle--notFullscreen"
                *ngIf="!isFullscreen"
              >
                <a
                  [routerLink]="[pageUrl]"
                  (click)="$event.stopPropagation()"
                  >{{ title }}</a
                >
              </span>
              <!-- TITLE: FULLSCREEN -->
              <span
                class="m-mediaModal__overlayTitle m-mediaModal__overlayTitle--fullscreen"
                *ngIf="isFullscreen"
              >
                <a
                  [routerLink]="['/', entity.ownerObj.username]"
                  (click)="$event.stopPropagation()"
                >
                  <img
                    class="avatar"
                    [src]="
                      cdnUrl +
                      'icon/' +
                      entity.ownerObj.guid +
                      '/small/' +
                      ownerIconTime
                    "
                    class="mdl-shadow--2dp"
                  />
                  <span title="{{ entity.ownerObj.name }}">{{
                    entity.ownerObj.name
                  }}</span>
                </a>
                <div class="m-mediaModal__overlayTitleSeparator"></div>
                <a
                  [routerLink]="[pageUrl]"
                  (click)="$event.stopPropagation()"
                  >{{ title }}</a
                >
              </span>
            </div>
            <!-- FULLSCREEN BUTTON -->
            <div class="m-mediaModal__fullscreenButtonWrapper">
              <div
                class="m-mediaModal__fullscreenButton"
                (click)="toggleFullscreen()"
                (mouseenter)="fullscreenHovering = true"
                (mouseleave)="fullscreenHovering = false"
                [class.m-mediaModal__fullscreenButton--hovering]="
                  fullscreenHovering
                "
              >
                <i
                  *ngIf="!isFullscreen"
                  class="material-icons m-mediaModal__fullscreenIcon--enable"
                  >fullscreen</i
                >
                <i
                  *ngIf="isFullscreen"
                  class="material-icons m-mediaModal__fullscreenIcon--disable"
                  >fullscreen_exit</i
                >
              </div>
            </div>
          </div>
          <!-- PAGER ARROWS -->
          <a
            *ngIf="hasModalPager() && modalPager.hasPrev && pagerVisible"
            class="m-mediaModal__pager m-mediaModal__pager--previous"
            (click)="goToPrev()"
            @fastFade
          >
            <i class="material-icons">chevron_left</i>
          </a>

          <a
            *ngIf="hasModalPager() && modalPager.hasNext && pagerVisible"
            class="m-mediaModal__pager m-mediaModal__pager--next"
            (click)="goToNext()"
            @fastFade
          >
            <i class="material-icons">chevron_right</i>
          </a>
        </div>
      </div>

      <!-- (END STAGE WRAPPER) -->
      <!-- CONTENT -->
      <div class="m-mediaModal__contentContainer">
        <div class="m-mediaModal__contentBody">
          <div
            class="m-mediaModal__scrollableAreaContainer m-mediaModal__contentAfter"
          >
            <div class="m-mediaModal__scrollableAreaWrapper">
              <!-- OWNER BLOCK -->
              <div
                class="m-mediaModal__ownerBlock m-mediaModal__clearfix m-owner-block"
              >
                <!-- OWNER BLOCK AVATAR -->
                <div
                  class="m-mediaModal__ownerBlockAvatar avatar"
                  [hovercard]="entity.ownerObj.guid"
                >
                  <a [routerLink]="['/', entity.ownerObj.username]">
                    <img
                      [src]="
                        cdnUrl +
                        'icon/' +
                        entity.ownerObj.guid +
                        '/medium/' +
                        ownerIconTime
                      "
                      class="mdl-shadow--2dp"
                    />
                  </a>
                </div>

                <!-- OWNER BLOCK BODY -->
                <div class="m-mediaModal__ownerBlockBody">
                  <a
                    class="m-ownerBlock__channelLink"
                    [routerLink]="['/', entity.ownerObj.username]"
                  >
                    <strong title="{{ entity.ownerObj.name }}">{{
                      entity.ownerObj.name
                    }}</strong>
                    <m-channel--badges
                      class="m-channel--badges-activity"
                      [user]="entity.ownerObj"
                      badges="[ 'admin', 'verified' ]"
                    ></m-channel--badges>
                  </a>
                  <a
                    *ngIf="
                      entity.containerObj && entity.containerObj.type == 'group'
                    "
                    [routerLink]="['/groups/profile', entity.containerObj.guid]"
                    class="m-ownerBlock__groupLink mdl-color-text--blue-grey-300"
                  >
                    <strong>({{ entity.containerObj.name }})</strong>
                  </a>
                  <!-- PERMALINK -->
                  <a
                    [routerLink]="[pageUrl]"
                    class="permalink m-ownerBlock__permalink"
                  >
                    <span class="m-ownerBlock__permalinkDate">{{
                      entity.time_created * 1000 | date: 'medium'
                    }}</span>
                    <span
                      *ngIf="entity.edited"
                      class="m-ownerBlock__permalinkFlag m-ownerBlock__permalinkFlag--edited"
                      i18n="@@M__COMMON__EDITED"
                      >edited</span
                    >
                    <div
                      *ngIf="boosted"
                      class="mdl-card__supporting-text m-ownerBlock__permalinkFlag m-ownerBlock__permalinkFlag--boosted"
                      [class.m-ownerBlock__permalinkFlag--onchain]="
                        entity.boosted_onchain
                      "
                    >
                      <i class="material-icons">trending_up</i>
                      <a
                        i18n="@@MINDS__CARDS__entity__BOOSTED_LABEL"
                        [hidden]="entity.boosted_onchain"
                        >Boosted</a
                      >
                      <a
                        i18n="@@MINDS__CARDS__entity__BOOSTED_LABEL_ONCHAIN"
                        [hidden]="!entity.boosted_onchain"
                        [routerLink]="['/token']"
                        >Boosted Onchain</a
                      >
                    </div>
                  </a>
                </div>
              </div>
              <!-- MESSAGE -->
              <div
                class="m-mediaModal__message mdl-card__supporting-text m-mature-message"
                m-read-more
                *ngIf="
                  this.contentType !== 'blog' &&
                  (entity.description || entity.message)
                "
                [maxHeightAllowed]="136"
              >
                <a
                  class="m-mature-text-toggle"
                  (click)="toggleMatureVisibility()"
                  *ngIf="
                    (attachment.shouldBeBlurred(entity) ||
                      attachment.isForcefullyShown(entity)) &&
                    this.contentType !== 'video' &&
                    this.contentType !== 'rich-embed'
                  "
                  [ngClass]="{
                    'mdl-color-text--red-500': attachment.isForcefullyShown(
                      entity
                    )
                  }"
                >
                  <i class="material-icons m-material-icons-inline">explicit</i>
                </a>
                <span
                  class="m-mature-message-content"
                  [innerHtml]="entity.description || entity.message | tags"
                  [ngClass]="{
                    'm-mature-text': attachment.shouldBeBlurred(entity)
                  }"
                  (click)="
                    entity.mature && !entity.mature_visibility
                      ? toggleMatureVisibility()
                      : null
                  "
                >
                </span>
                <m-read-more--button></m-read-more--button>
              </div>
              <!-- ACTION BUTTONS -->
              <div class="m-mediaModal__actionButtonsWrapper">
                <div class="m-mediaModal__actionButtonsRow m-action-tabs">
                  <minds-button-thumbs-up
                    [object]="originalEntity"
                  ></minds-button-thumbs-up>
                  <minds-button-thumbs-down
                    [object]="originalEntity"
                  ></minds-button-thumbs-down>
                  <m-wire-button
                    *ngIf="session.getLoggedInUser().guid != entity.owner_guid"
                    [object]="entity"
                    (done)="wireSubmitted($event)"
                  ></m-wire-button>
                  <minds-button-remind
                    *ngIf="originalEntity.type !== 'comment'"
                    [object]="originalEntity"
                  ></minds-button-remind>
                  <div>
                    <a
                      class="m-mediaModal__actionButton--share"
                      (click)="openShareModal()"
                    >
                      <i class="material-icons">share</i>
                    </a>
                  </div>
                </div>
              </div>

              <!-- COMMENTS -->
              <div class="m-mediaModal__comments" *ngIf="entity.guid">
                <m-comments__tree
                  [limit]="24"
                  [entity]="entity"
                  [scrollable]="true"
                >
                </m-comments__tree>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
