m-nestedMenu {
  display: block;
  box-sizing: border-box;
  .m-nestedMenu {
    display: block;
    font-size: 16px;
    line-height: 21px;
    font-weight: 300;
    min-height: 100vh;
    // padding-bottom: 60px;
    height: 100%;

    @include m-theme {
      border-right: 1px solid themed($m-borderColor--primary);
    }
    @media screen and (max-width: $layoutMax2ColWidth) {
      width: 100%;
    }
    @media screen and (max-width: $max-mobile) {
      @include m-theme {
        border-right: none;
      }
    }
  }
  .m-nestedMenu__menuWrapper {
    &:not(:first-child) {
      margin-top: 51px;
      .m-nestedMenu__headerWrapper {
        line-height: 20px;
      }
    }
    &:last-child {
      padding-bottom: 60px;
    }

    & > * {
      box-sizing: border-box;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      @include m-theme() {
        border-bottom: 1px solid themed($m-borderColor--primary);
      }
    }
  }

  .m-nestedMenu__headerWrapper {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    padding: 17px 18px;

    @media screen and (max-width: $layoutMax2ColWidth) {
      padding: 19px 24px 22px 24px;
    }

    .m-nestedMenu__backButton {
      margin: 0 0 6px 0;
      font-size: 15px;

      line-height: inherit;
      display: none;

      transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
      @media screen and (max-width: $layoutMax2ColWidth) {
        display: inline-block;
      }
      a {
        cursor: pointer;
        display: flex;
        text-decoration: none;
        margin-bottom: 0;
        align-items: center;
        justify-content: flex-start;
        font-weight: 300;

        @include m-theme() {
          color: themed($m-textColor--secondary);
        }
      }

      span {
        margin-left: 5px;
      }
      i {
        font-size: 17px;
        line-height: inherit;
        transition: all 0.3s cubic-bezier(0.23, 1, 0.32, 1);
      }
      &:hover {
        i {
          transform: scale(1.1);
        }
      }
    }
    .m-nestedMenu__headerLabel {
      @include m-theme() {
        color: themed($m-textColor--primary);
      }
      @media screen and (max-width: $layoutMax2ColWidth) {
        font-size: 24px;
        line-height: 32px;
      }
    }
  }
  .m-nestedMenu__itemWrapper {
    width: 100%;
    padding: 14px 18px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    font-weight: 400;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    @include m-theme {
      color: themed($m-textColor--secondary);
    }

    &:hover,
    &.m-nestedMenu__itemWrapper--active {
      @include m-theme() {
        color: themed($m-textColor--primary);
        background-color: themed($m-borderColor--primary);
      }
      i {
        @include m-theme {
          color: themed($m-textColor--primary);
        }
      }
    }

    i {
      @include m-theme {
        color: themed($m-textColor--tertiary);
      }
    }

    @media screen and (max-width: $layoutMax2ColWidth) {
      padding: 14px 24px;
      &.m-nestedMenu__itemWrapper--active {
        &.disableActiveClass {
          @include m-theme {
            color: themed($m-textColor--secondary);
            background-color: rgba(themed($m-black), 0);
          }
          i {
            @include m-theme {
              color: themed($m-textColor--tertiary);
            }
          }
        }
        &:hover:not(.disableActiveClass) {
          @include m-theme() {
            color: themed($m-textColor--primary);
            background-color: themed($m-borderColor--primary);
          }
          i {
            @include m-theme {
              color: themed($m-textColor--primary);
            }
          }
        }
      }
    }
  }
}
