$activity-padding-lr: 21px;

m-activity {
  display: block;
  position: relative;

  &,
  &.m-border {
    border-radius: $m-borderRadius;
    box-shadow: 0 $m-boxShadowOffset $m-boxShadowBlur rgba(0, 0, 0, 0.05);
  }

  @include m-theme() {
    background: themed($m-bgColor--secondary);
  }

  .m-comment .minds-avatar {
    @include m-theme() {
      background: themed($m-bgColor--secondary);
    }
  }
}

.m-activity--fixedHeight {
  height: 750px;
  display: flex;
  flex-direction: column;
}

.m-activity--boost {
  @include m-theme() {
    border-color: themed($m-blue);
  }
}

.m-activity__flag {
  padding: 4px 8px;
  border-radius: 26px;
  margin-left: 10px;
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  cursor: default;

  > i,
  > span {
    line-height: 16px;
  }

  &:has(& > span) i {
    margin-right: 5px;
  }

  @include m-theme() {
    border: 1px solid themed($m-borderColor--primary);
    background-color: themed($m-bgColor--tertiary);
    color: themed($m-textColor--secondary);
  }
}
